@tailwind base;
@tailwind components;
@tailwind utilities;

/* ModalStyles.css */
.no-scroll {
    overflow: hidden;
}

.fade-out {
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  